body {
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 1200px 1fr;
	grid-template-rows: 50px 300px auto 110px;
	font-family: Noto Sans;
	/* 載入顯示拉軸 */
	/* overflow-y:hidden ;
	*/
}

#shadow{
	/* 載入不顯示 */
	display: none;
	position: fixed;
	z-index: 500 ;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 5;
	background-color: rgba(0, 0, 0, 1);
	opacity: 25%;
}
#login{
	/*登入頁面*/
	/* 載入不顯示 */
	display: none;
	position: fixed;
	z-index: 999 ;
	top: 80px;
	left: 35%;
	width: 340px;
	height: 280px;
	background-color: white;
	text-align: center;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 4px 60px #AAAAAA;
}
#login form p:nth-child(1){
	font-weight: 700;
	font-size: 24px;
	color: #666666;
	margin: 0px;
}
#login .close{
	float: right;
	font-size: 16px;
	font-weight: 50;
	line-height: 15px;
	color: black;
	cursor: pointer;
}
#login input{
	height: 47px;
	width: 95%;
	border-radius: 5px;
	padding: 15px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	margin: 8px 0px 8px 0px;
}
#login input::placeholder{
	margin: 8px 0px 8px 0px;
	font-family: 'Noto Sans TC';
	font-weight: normal ;
	font-size: 16px;
	color: #666666;
}
#login input[type=submit]{
	width: 97%;
	height: 47px;
	border-radius: 5px;
	background: #448899;
	color: #FFFFFF;
	border: 1px solid #CCCCCC ;
	margin: 8px 0px 8px 0px;
	font-weight: 400;
	font-size: 19px;
	cursor: pointer;
	line-height: 8px;
}
#login button{
	width: 97%;
	height: 47px;
	border-radius: 5px;
	background: #448899;
	color: #FFFFFF;
	border: 1px solid #CCCCCC ;
	margin: 8px 0px 8px 0px;
	font-weight: 400;
	font-size: 19px;
	cursor: pointer;
	line-height: 8px;
}
#login form p:nth-child(6){
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin: 8px 0px 4px 0px;
	color: #666666;
	cursor: pointer;
}
.message{
	margin: 0px auto 10px auto;
	color: #666666;
}
/* login-part end */
/* this is sign-up page */
#signup{
	/*登入頁面*/
	/* 載入不顯示 */
	display: none;
	position: fixed;
	z-index: 999 ;
	top: 80px;
	left: 35%;
	width: 340px;
	height: 360px;
	background-color: white;
	text-align: center;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 4px 60px #AAAAAA;
}
#signup form p:nth-child(1){
	font-weight: 700;
	font-size: 24px;
	color: #666666;
	margin: 0px;
}
#signup .close{
	float: right;
	font-size: 16px;
	font-weight: 50;
	line-height: 15px;
	color: black;
	cursor: pointer;
}
#signup input{
	height: 47px;
	width: 95%;
	border-radius: 5px;
	padding: 15px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	margin: 8px 0px 8px 0px;
}
#signup input::placeholder{
	margin: 8px 0px 8px 0px;
	font-family: 'Noto Sans TC';
	font-weight: normal ;
	font-size: 16px;
	color: #666666;
}
#signup input[type=submit]{
	width: 97%;
	height: 47px;
	border-radius: 5px;
	background: #448899;
	color: #FFFFFF;
	border: 1px solid #CCCCCC ;
	margin: 8px 0px 8px 0px;
	font-weight: 400;
	font-size: 19px;
	cursor: pointer;
	line-height: 8px;
}
#signup button{
	width: 97%;
	height: 47px;
	border-radius: 5px;
	background: #448899;
	color: #FFFFFF;
	border: 1px solid #CCCCCC ;
	margin: 8px 0px 8px 0px;
	font-weight: 400;
	font-size: 19px;
	cursor: pointer;
	line-height: 8px;
}
#signup form p:nth-child(6){
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	margin: 8px 0px 4px 0px;
	color: #666666;
	cursor: pointer;
}
/* sign up page end */
/* This is Title part */
.title {
	z-index: 100;
	position: sticky;
	top: 0;
	align-self: start;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E8E8E8;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.title_content {
	margin: 0px auto 0px auto;
	max-width: 1200px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Noto Sans TC;
	font-style: normal;
}
.title_content div:nth-child(1) {
	width: 50%;
	text-align: left;
}
.title_content div:nth-child(2) {
	width: 50%;
	text-align: right;
}
.title_content div a {
	display: inline-block;
	margin: 5px 0px 5px 0px;
	font-size: 30px;
	cursor: pointer;
}
.title_content div p{
	margin: 5px 0px 5px 0px;
	font-size: 16px;
	cursor: pointer;
	font-weight: normal;
}
.signout{
	display: none;
	margin: 5px 0px 5px 0px;
	color: rgba(102, 102, 102, 1);
	cursor: pointer;
}
.signin{
	display: inline-block;
	margin: 5px 0px 5px 0px;
	color: rgba(102, 102, 102, 1);
	cursor: pointer;
}
.title_content div:nth-child(1) a {
	font-weight: bold;
	color: rgba(68, 136, 153, 1);
}
.title_content div:nth-child(2) a {
	font-weight: 400;
	font-size: 16px;
	margin: 10px 30px 5px 0px;
	;
	color: rgba(102, 102, 102, 1);
}
/* end */
/* This is main part */
.main {
	background-color: rgba(170, 221, 238, 1);
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}
.main_content {
	max-width: 1200px;
	height: 300px;
	margin: 0px auto 0px auto;
	display: flex;
}
.main_text {
	width: 600px;
	height: 300px;
}
.main_text p {
	position: relative;
	top: 50px;
}
.main_text p:nth-child(1) {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: #F8F8F8;
	text-shadow: 0px 0px 30px #AABBCC;
}
.main_text p:nth-child(2) {
	font-family: Noto Sans TC;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #F8F8F8;
}
.search {
	position: relative;
	top: 60px;
}
.search input {
	width: 370px;
	height: 15px;
	padding: 15px;
	margin: 0px;
	float: left;
	border: none;
}
::placeholder {
	font-family: Noto Sans TC;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
}
.search button {
	width: 40px;
	height: 46px;
	float: left;
	border: none;
	background-color: rgba(68, 136, 153, 1)
}
.search button img {
	width: 15px;
	height: 15px;
}
.main_img {
	width: 600px;
	height: 300px;
}
.main_img img {
	width: 100%;
	height: 100%;
}
/* end */
/* This is content part */
.content {
	margin-top: 50px;
	margin-bottom: 50px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	grid-auto-columns: min-content(500px, auto);
	gap: 40px;
	display: -webkit-flex;
	flex-direction: row;
	min-height: 500px;
}
.box {
	/* border: 0.5px black solid;
	*/
	cursor: pointer;
	border-bottom: 1px solid #E8E8E8;
	background-color: white;
	border-radius: 5px;
	width: 270px;
	height: 242px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 4fr 0.5fr 0.5fr;
}
.box div:nth-child(1) {
	overflow: hidden;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.box div:nth-child(1) img {
	width: 350px;
	object-fit: over;
}
.box p {
	margin: 0px;
}
.box p:nth-child(2) {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 5px;
	font-weight: bold;
	border-right: 1px #E8E8E8 solid;
	border-left: 1px #E8E8E8 solid;
}
.box p:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: left;
	padding: 5px;
	border-left: 1px #E8E8E8 solid;
}
.box p:nth-child(4) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	text-align: right;
	padding: 5px;
	border-right: 1px #E8E8E8 solid;
}
.foot {
	padding-top: 20px;
	background-color: #757575;
	color: white;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}
@media (max-width:600px) {
	body {
		margin: 0px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 50px 300px minmax(100px, max-content) 110px;
		font-family: Noto Sans;
		font-style: normal;
	}
	/* login-part start */
	#shadow{
		z-index: 500 ;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 5;
		background-color: rgba(0, 0, 0, 1);
		opacity: 25%;
	}
	#login{
		z-index: 999 ;
		top: 80px;
		left: 2%;
		width: 88%;
		background-color: white;
		text-align: center;
		padding: 15px;
		border-radius: 6px;
		box-shadow: 0px 4px 60px #AAAAAA;
	}
	#login form p:nth-child(1){
		font-weight: 700;
		font-size: 24px;
		color: #666666;
		margin: 0px;
	}
	#login .close{
		float: right;
		font-size: 16px;
		font-weight: 50;
		line-height: 15px;
		color: black;
	}
	#login input{
		height: 47px;
		width: 95%;
		border-radius: 5px;
		padding: 15px;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		box-sizing: border-box;
		margin: 8px 0px 8px 0px;
	}
	#login input::placeholder{
		margin: 8px 0px 8px 0px;
		font-family: 'Noto Sans TC';
		font-weight: normal ;
		font-size: 16px;
		color: #666666;
	}
	/* login-part end */
	/* this is sign-up page */
	#signup{
		/*登入頁面*/
		/* 載入不顯示 */
		display: none;
		z-index: 999 ;
		top: 80px;
		left: 2%;
		width: 88%;
		background-color: white;
		text-align: center;
		padding: 15px;
		border-radius: 6px;
		box-shadow: 0px 4px 60px #AAAAAA;
	}
	#signup form p:nth-child(1){
		font-weight: 700;
		font-size: 24px;
		color: #666666;
		margin: 0px;
	}
	#signup .close{
		float: right;
		font-size: 16px;
		font-weight: 50;
		line-height: 15px;
		color: black;
		cursor: pointer;
	}
	#signup input{
		height: 47px;
		width: 95%;
		border-radius: 5px;
		padding: 15px;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		box-sizing: border-box;
		margin: 8px 0px 8px 0px;
	}
	#signup input::placeholder{
		margin: 8px 0px 8px 0px;
		font-family: 'Noto Sans TC';
		font-weight: normal ;
		font-size: 16px;
		color: #666666;
	}
	/* sign up page end */
	.title {
		padding: 10px;
		z-index: 100;
		position: sticky;
		top: 0;
		align-self: start;
		/* 負責排列 */
		background-color: #F8F8F8;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.title_content {
		margin: 0px;
		max-width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title_content div:nth-child(1) {
		width: 50%;
		text-align: left;
		padding: 0px 0px 0px 5px;
	}
	.title_content div:nth-child(2) {
		width: 50%;
		text-align: right;
		padding: 0px 2px 0px 0px;
	}
	.title_content div a {
		display: inline-block;
		margin: 0px 0px 0px 0px;
		font-size: 30px;
	}
	.title_content div a {
		margin: 0px;
	}
	.title_content div:nth-child(1) a {
		font-weight: bold;
		color: rgba(68, 136, 153, 1);
	}
	.title_content div:nth-child(2) p {
		font-size: 16px;
	}
	.title_content div:nth-child(2) p:nth-child(2) {
		font-size: 14px;
		margin: 15px;
	}
	.title_content div:nth-child(2) a {
		font-weight: 400;
		font-size: 14px;
		margin: 10px 10px 5px 0px;
		color: rgba(102, 102, 102, 1);
	}
	/* end */
	/* This is main part */
	.main {
		background-color: rgba(170, 221, 238, 1);
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 3;
		position: relative;
		/* 用來控制當下這個div */
	}
	.main_content {
		width: 100%;
		/* height: 300px;
		margin: 0px auto 0px auto;
		display: flex;
		*/
	}
	.main_text {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 100%;
		text-align: center;
		flex: none;
		z-index: 100;
	}
	.main_img {
		/* width: 600px;
		height: 300px;
		*/
		width: 50%;
		height: auto;
		position: absolute;
		bottom: -4px;
		right: 0px;
		z-index: 50;
		margin: 0px;
	}
	.main_text p {
		position: relative;
		top: 50px;
	}
	.main_text p:nth-child(1) {
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: #F8F8F8;
		text-shadow: 0px 0px 30px #AABBCC;
	}
	.main_text p:nth-child(2) {
		font-family: Noto Sans TC;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: #F8F8F8;
	}
	.search {
		position: relative;
		top: 60px;
		padding-left: 22%;
	}
	.search input {
		max-width: 60%;
		height: 15px;
		padding: 15px;
		margin: 0px;
		float: left;
		border: none;
	}
	::placeholder {
		font-family: Noto Sans TC;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
	}
	.search button {
		width: 40px;
		height: 46px;
		float: left;
		border: none;
		background-color: rgba(68, 136, 153, 1)
}
	.search button img {
		width: 15px;
		height: 15px;
	}
	/* end */
	/* This is content part */
	.content {
		margin-top: 50px;
		margin-bottom: 50px;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 3;
		grid-row-end: 4;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
		display: -webkit-flex;
		flex-direction: row;
	}
	.box {
		/* border: 0.5px black solid;
		*/
		width: 90%;
		height: 300px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 4fr 0.5fr 0.5fr;
		row-gap: 10px;
	}
	.box div:nth-child(1) {
		overflow: hidden;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.box div:nth-child(1) img {
		width: 100%;
		object-fit: over;
		object-position: bottom;
	}
	.box p {
		margin: 0px;
	}
	.box p:nth-child(2) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		padding: 10px 15px 10px 10px;
		font-weight: bold;
	}
	.box p:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		text-align: left;
		padding: 10px 10px 15px 10px;
	}
	.box p:nth-child(4) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		text-align: right;
		padding: 10px 10px 15px 10px;
	}
	.foot {
		padding-top: 20px;
		background-color: white;
		text-align: center;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 4;
		grid-row-end: 5;
	}
}
