<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/CSSfile/booking.css" rel="stylesheet" type="text/css">
    <title>booking啦</title>
</head>
<body>
    <div id="shadow"></div>
	<div id="login">
		<form action="/api/user" id="login_form" method="post" name="login_form">
			<p>登入會員帳號 <span class="close">X</span></p><input name="email" placeholder="輸入電子信箱" type="email"> <input name='password' placeholder="輸入密碼" type="password"><br>
			<button id="login_formBtn" type="submit">登入帳戶</button> <!-- <input class="formBtn" type="submit" value="登入帳戶"> -->
			<p class="signupPage">還沒有帳戶?點此註冊</p>
			<p class="message"></p>
		</form>
	</div>
	<div id="signup">
		<form action="/api/user" id="signup_form" method="post" name="signup_form">
			<p>註冊會員帳號 <span class="close">X</span></p><input name="name" placeholder="輸入姓名" type="text"> <input name="email" placeholder="輸入電子信箱" type="email"> <input name='password' placeholder="輸入密碼" type="password"><br>
			<button id="signup_formBtn" type="submit">註冊新帳戶</button> <!-- <input class="formBtn" type="submit" value="註冊新帳戶"> -->
			<p class="logInPage">已經有帳戶了？點此登入</p>
			<p class="message"></p>
		</form>
	</div>
	<div class="title">
		<div class="title_content">
			<div>
				<a href="/">台北一日遊</a>
			</div>
			<div class="title_box">
				<a class="booking">排定行程</a>
				<p class="signin">登入/註冊</p>
				<p class="signout">登出</p>
			</div>
		</div>
	</div>
	<div class="content">
		<h4>您好，帥哥，待預訂的行程如下：</h4>
		<div class="contentImg"><img src="/static/imgfile/welcome 1.png" alt="範例"></div>
		<div class="contentText">
		<p>台北一日遊: <span class="userName">標題</span></p>
		<p>日期: <span>不知道</span></p>
		<p>時間: <span></span></p>
		<p>費用: <span></span></p>
		<p>地點: <span></span></p>
		</div>
		<div class="contentDelete"><img src="/static/imgfile/icon_delete.png"" alt="垃圾桶範例"></div>
	</div>
	<div class="information">
		<h4>您的聯絡資訊</h4>
		<p><label for="bookName">聯絡姓名：<input type="text" id="bookName"></label></p>
		<p><label for="bookEmail">連絡信箱：<input type="text" id="bookEmail"></label></p>
		<p><label for="bookmobile">手機號碼：<input type="text" id="bookmobile"></label></p>
		<p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
	</div>
	<div class="creditCard">
		<h4>信用卡付款資訊</h4>
		<p><label for="CardCode">卡片號碼：<input type="text" id="CardCode"></label></p>
		<p><label for="CardDate">過期時間：<input type="text" id="CardDate"></label></p>
		<p><label for="CardPassWord">驗證密碼：<input type="text" id="CardPassWord"></label></p>
	</div>
	<div class="price">
		<p>總價：新台幣 2000 元</p>
		<button>確認訂購並付款</button>
	</div>
	<div class="foot">
		COPYRIGHT © 2021 台北一日遊
	</div>
<script src="/static/JSfile/member.js"></script>
<script src="/static/JSfile/booking_GET.js"></script>
</body>
</html>