<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="{{url_for('static',filename='index.css')}}" rel="stylesheet" type="text/css">
	<title>台北一日遊</title>
</head>
<body>
	<div class="title">
		<div class="title_content">
			<div>
				<a href="/">台北一日遊</a>
			</div>
			<div>
				<a href="./index.html">排定行程</a> <a href="./index.html">登入/註冊</a>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="main_content">
			<div class="main_text">
				<p>輕鬆享受台北一日悠閒</p>
				<p>探索每個角落，體驗城市的深度旅遊行程</p>
				<div class="search">
					<form>
						<input id="keyWord" name="search" placeholder="輸入景點名稱查詢" type="text"> <button id="btn" type="submit"><img src="{{url_for('static',filename='icon_search.png')}}"></button>
					</form>
				</div>
			</div>
			<div class="main_img"><img alt="" src="{{url_for('static',filename='welcome 1.png')}}"></div>
		</div>
	</div>
	<div class="content"></div>
	<div class="foot">
		<p>COPYRIGHT © 2021 台北一日遊</p>
	</div>
	<script src="{{url_for('static',filename='index.js')}}">
	</script>
</body>
</html>